// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'mixins';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

@import "~admin-lte/dist/css/adminlte.css";
@import '~admin-lte/plugins/fontawesome-free/css/all.css';
@import '~admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css';
@import '~admin-lte/plugins/toastr/toastr.min.css';
@import '~admin-lte/plugins/sweetalert2/sweetalert2.min.css';



@import '~admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.css';
@import '~admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css';


.palex-card {
    background: white;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 174, 119, 0.5) !important;
}